name: Create Release Pull Request
on:
  workflow_dispatch:
  pull_request:
    paths:
      # to develop or debug this workflow
      - .github/workflows/create-release-pr.yaml
      - .releaserc.yaml

jobs:
  get-next-version:
    permissions:
      contents: write
    uses: semantic-release-action/next-release-version/.github/workflows/next-release-version.yml@0cdefe1224944c23645e5131f7a5189672c0df92 # v4

  update-version:
    runs-on: ubuntu-latest
    needs:
      - get-next-version
    if: needs.get-next-version.outputs.new-release-published == 'true'
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Install semantic-release-cargo
        uses: EricCrosson/install-github-release-binary@3b6741ed37d8bdb9539ff5234f8c3b70805d04b5 # v2
        with:
          targets: semantic-release-cargo/semantic-release-cargo@v2.2.96
      - name: Prepare semantic-release for Rust
        run: semantic-release-cargo prepare ${{ needs.get-next-version.outputs.new-release-version }}
      - id: gh-token-gen
        uses: oakcask/gh-token-gen@8265635a8608c36d4e5de582b02d76c0b9fa790a # v4.0.1
        with:
          app-id: ${{ secrets.TOKEN_GEN_APP_ID }}
          private-key: ${{ secrets.TOKEN_GEN_PRIVATE_KEY }}
      - name: Create pull request to release
        uses: int128/update-generated-files-action@d9aac571db84cee6c16fa20190621e9deb2bc575 # v2
        with:
          title: Release v${{ needs.get-next-version.outputs.new-release-version }}
          body: Releases v${{ needs.get-next-version.outputs.new-release-version }}
          commit-message: "chore: release v${{ needs.get-next-version.outputs.new-release-version }}"
          token: ${{ steps.gh-token-gen.outputs.token }}
