name: lint / renovate

on:
  pull_request:
    paths:
      - .github/workflows/lint--renovate.yaml
      - renovate.json
permissions:
  contents: read
env:
  # renovate: datasource=npm depName=pnpm
  PNPM_VERSION: "10.26"
  # renovate: datasource=npm depName=renovate
  RENOVATE_VERSION: "42.55"
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      # I saw cache upload consume >30s.
      # It takes just 10 and some secs for installing pnpm and renovate. So cache is not necessary
      #- uses: actions/cache@v4
      #  with:
      #    path: ~/.pnpm
      #    key: pnpm@${{ env.PNPM_VERSION }}-renovate@${{ env.RENOVATE_VERSION }}-${{ runner.os }}-${{ runner.arch }}-
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: ${{ env.PNPM_VERSION }}
          dest: ~/.pnpm
      - run: pnpm add -g renovate@${RENOVATE_VERSION}
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          sparse-checkout: |
            renovate.json
      - run: renovate-config-validator --strict
        env:
          LOG_LEVEL: "warn"
