name: Release
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      # to develop or debug this workflow
      - .github/workflows/release.yaml
      - .releaserc.yaml

jobs:
  get-next-version:
    permissions:
      contents: write
    uses: semantic-release-action/next-release-version/.github/workflows/next-release-version.yml@0cdefe1224944c23645e5131f7a5189672c0df92 # v4

  cargo-toml-updated:
    runs-on: ubuntu-latest
    needs:
      - get-next-version
    outputs:
      updated: ${{ steps.check-updated.outputs.updated }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: EricCrosson/install-github-release-binary@3b6741ed37d8bdb9539ff5234f8c3b70805d04b5 # v2
        with:
          targets: semantic-release-cargo/semantic-release-cargo@v2.2.96
        if: needs.get-next-version.outputs.new-release-published == 'true'
      - run: semantic-release-cargo prepare ${{ needs.get-next-version.outputs.new-release-version }}
        if: needs.get-next-version.outputs.new-release-published == 'true'
      - id: check-updated
        run: git diff --exit-code && echo "updated=true" >> "$GITHUB_OUTPUT"
        # wanted not to workflow status being failure. 
        continue-on-error: true

  build:
    strategy:
        matrix:
          build:
            - os: ubuntu-latest
              target: x86_64-unknown-linux-gnu
              cross: false
            - os: ubuntu-latest
              target: aarch64-unknown-linux-gnu
              cross: true
            - os: macos-latest
              target: aarch64-apple-darwin
              cross: false
    runs-on: ${{ matrix.build.os }}
    needs:
      - get-next-version
      - cargo-toml-updated
    if: ${{ needs.get-next-version.outputs.new-release-published == 'true' && needs.cargo-toml-updated.outputs.updated == 'true' }}
    env:
      CARGO: "cargo"
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1
      - name: Enable cross
        run: cargo install cross && echo "CARGO=cross" >> "$GITHUB_ENV"
        if: matrix.build.cross
      - run: ${{ env.CARGO }} --locked build --release --target=${{ matrix.build.target }} --bins
      - name: Prepare artifacts to upload
        run: |
          mkdir -p dist/${{ matrix.build.target }}
          find target/${{ matrix.build.target }}/release -maxdepth 1 \
            -type f \! -name '.cargo-lock' \! -name '*.d' -print0 \
            | xargs -I{} -r -0 cp {} dist/${{ matrix.build.target }}/
          tar -C dist/${{ matrix.build.target }} -czf dist/${{ matrix.build.target }}.tar.gz ./
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: ${{ matrix.build.target }}.tar.gz
          path: |
            dist/${{ matrix.build.target }}.tar.gz
          if-no-files-found: error
          retention-days: 1

  release:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}
    permissions:
      contents: write
      issues: write
      pull-requests: write
    needs:
      - get-next-version
      - cargo-toml-updated
      - build
    if: ${{ needs.get-next-version.outputs.new-release-published == 'true' && needs.cargo-toml-updated.outputs.updated == 'true' }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          path: dist
      - id: gh-token-gen
        uses: oakcask/gh-token-gen@62894164e9fe64f670ebe5ef5238fa870977aaa9 # v4.0.0
        with:
          app-id: ${{ secrets.TOKEN_GEN_APP_ID }}
          private-key: ${{ secrets.TOKEN_GEN_PRIVATE_KEY }}
      - uses: cycjimmy/semantic-release-action@v4
        with:
          dry_run: ${{ github.ref != 'refs/heads/main' }}
        env:
          GITHUB_TOKEN: ${{ steps.gh-token-gen.outputs.token }}
